body {
    margin-top: 20px;
}

#board {
    background-image: url('assets/wood.png');
    color: #ffffff;
}

.divider {
    border-bottom: 3px solid #cc6600;
}

.boardRow > div {
    line-height: 50px;
    vertical-align: middle;
}

.peg {
    margin: 2px;
}

.peg.active {
    cursor: pointer;
}
