body {
    margin-top: 20px;
}

#board {
    background-image: url('assets/wood.png');
    color: #ffffff;
}

.divider {
    border-bottom: 3px solid #cc6600;
    margin-top: 10px;
}

.boardRow > div {
    line-height: 60px;
    vertical-align: middle;
}

.boardRow > div:first-of-type {
    padding-left: 25px;
}

.my-centre {
    text-align: center;
}

.peg {
    margin: 2px;
}

.peg.active {
    cursor: pointer;
}
