body {
    margin-top: 20px;
}

#board {
    background-image: url('assets/wood.png');
    color: #ffffff;
}

.peg {
}

.row {
    margin: 20px;
}

.row div {
    line-height: 50px;
    vertical-align: middle;
}

button {
    margin: 10px;
}
